@model ContosoUniversity.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Credits)
        </dd>
    </dl>

    <form asp-action="Details">
        <a asp-action="Index">Back to List</a>
    </form>
    <form asp-action="Delete">
        <input type="hidden" asp-for="CourseID" />
        <input type="submit" value="Delete" class="btn btn-danger" /a>
    </form>
</div>


